.App {
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  display: flex;
}

* {
  background-color: black;
  color: aqua;
  font-size: 100px;
}

.year {
  color: chartreuse;
  font-family: 'Franklin Gothic Medium';
  font-size: 100px;
}